.form-group {
    padding: 5px;
    margin: 5px;
    
}

.container {
    font-family: 'Cormorant Garamond', serif;
}

.container .card-header {
    background-color:rgb(3, 10, 32);
    color: white;
    font-size: 1.5rem;
    border-bottom: solid white;
}

.container .card-body {
    background-color:rgb(3, 10, 32);
    color: white;
    font-size: 1rem;
}


.jumbotron {
    font-family: 'Cormorant Garamond', serif;    
    text-align: center;
    opacity: 0.75;
}

.container .jumbotron {
    background-color: rgb(3, 10, 32);
    color: white;

}

#add-train {
    background-color:rgb(3, 10, 32);
    color: white;
    padding: 10px;
    margin: 10px;
    align-content: center;
}

.container .card {
    opacity: 0.75;
}

#current {
    text-align: center;
    font-size: 25px;
    color: white;
}

body {
    background-image: url("../images/background.jpeg");
}