
body {
    background-image: url("../images/background.jpeg");
}

.container {
    font-family: 'Cormorant Garamond', serif;
}

.jumbotron {
    font-family: 'Cormorant Garamond', serif;    
    text-align: center;
    opacity: 0.75;
    border: 1px solid white;
    padding: 1rem 2rem;
}

.container .jumbotron {
    background-color: rgb(3, 10, 32);
    color: white;

}

.container .card-header {
    background-color:rgb(3, 10, 32);
    color: white;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
}

.container .card-body {
    background-color:rgb(3, 10, 32);
    color: white;
    font-size: 1rem;
    line-height: 2.5;
}

.container .card {
    opacity: 0.75;
}

.form-group {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.name, .destination, .frequency, .next, .minAway {
    border-bottom: 1px solid gray;
}

#add-train {
    background-color:rgb(3, 10, 32);
    color: white;
    padding: 10px;
    margin: 10px;
    align-content: center;
}


#current {
    text-align: center;
    font-size: 25px;
    color: white;
}

